In [5]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('../data_final/final_estat_data.csv')

# Filter for only needed columns
relevant_columns = ['country', 'year', 'value']

filtered_df = df[relevant_columns].sort_values(by='country')
filtered_df

     country  year     value
0    Austria  2019    102.0
168  Austria  2021    100.4
224  Austria  2021     2.95
140  Austria  2020     2.78
252  Austria  2022     95.6
..       ...   ...       ...
346      NaN  2023     87.9
372      NaN  2023     15.7
374      NaN  2023    894.4
400      NaN  2023     1.51
402      NaN  2023  1.99 bep

[420 rows x 3 columns]

In [6]:
print(f'Data shape: {filtered_df.shape[0]} rows, {filtered_df.shape[1]} columns')

Data shape: 420 rows, 3 columns

In [9]:
# Get the distinct countries
distinct_countries_count = filtered_df['country'].nunique()
distinct_countries = filtered_df['country'].unique()

# Display the result
print(f'There are {distinct_countries_count} countries in the dataset')
print(f'Countries: {distinct_countries}')

There are 26 countries in the dataset
Countries: ['Austria' 'Belgium' 'Bulgaria' 'Croatia' 'Cyprus' 'Czech Republic'
 'Denmark' 'Estonia' 'Finland' 'France' 'Germany' 'Hungary' 'Ireland'
 'Italy' 'Latvia' 'Lithuania' 'Luxembourg' 'Malta' 'Netherlands' 'Poland'
 'Portugal' 'Romania' 'Slovakia' 'Slovenia' 'Spain' 'Sweden' nan]